body{
    background-color:#E5E5FF;
}

h1 {
    color:#72727f;
    text-align: center;
    font-size: 40px;
    font: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #72727f;
    font-size: 15px;
    font-family: 'Shippori Mincho', serif;
}
.verticalhorizontal {
    display: table-cell;
    height: 20px;
    text-align: center;
    width: 500px;
    vertical-align: middle;
}
