body{
    background-color: burlywood;
    width: 100%;
    margin: auto; 
}

h1{
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
.left{
    position: relative;
    left: 250px;
}
    
.center{
    position: relative;
    left: 500px;
}

.right{
    position: relative;
    left: 750px;
}