.container{
    background-color: darkgray;
    height: 100vh;
    width: 100%; /*2020px*/
    display: flex;
    justify-content: center;
}

/*poster size 600x860px*/

.ablock{
    background-color: #fffcdb;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/*orange blocks*/
.block1{
    border: 1px solid black;
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    margin-right: 0.25%;
}
.b1{
   /* border: 1px solid black;*/
    background-color: #f27920;
    height: 55%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-right: 0.25%;
}

/*namen*/

.vorname{
    color: black;
    text-align: right;
    font-size: 55%;
    font-family: 'Rubik', sans-serif;
    line-height: 210%;
    margin-left: 80%;
    margin-top: 86%;
}

.nachname{
    color: black;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    line-height: 1.1;
    margin-left: 5%;
    margin-top: 85%;
}

.b2{
    background-color: #f27920;
    margin-left: 0.25%;
    height: 55%;
    width: 25%;
    position: relative;
    top: 25%;
     
}

.b3{
    background-color: #f27920;
    margin-left: 0.25%;
    height: 55%;
    width: 15%; 
    position: relative;
    top: 45%;   
}

.b4{
    background-color: #f27920;
    margin-left: 0.25%;
    height: 55%;
    width: 7%;  
    position: relative;
    top: 10%;
}

.b5{
    background-color: #f27920;
    margin-left: 0.25%;
    height: 55%;
    width: 3%;    
}

.t1{
    height: 50px;
    width: 50px;
    border-style: solid;
}

.daten1{

    color: black;
    text-align: left;
    font-size: 50%;
    font-family: 'Rubik', sans-serif;
    position: relative;

}

.daten2{
    color: black;
    text-align: right;
    font-size: 55%;
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 130%;
    left: -75%;
}


